body {
    color: black;
    }
div {
    margin: 10px;
    padding: 20px;
    border: 1px solid darkred;
    border-radius: 25px;
}
h1,
h2 {
    text-align: center;
}
a {
    padding: 10px;
    border-radius: 25px;
    background-color: cornflowerblue;
    color: white;
}
span {
    font-weight: bold;
    font-style: italic;
    color: indianred;
    font-size: 40px;
}

#listak {
    background-color: indianred;
}

.megisfeher {
    background-color: white;
    width: 100px;
    border-radius: 25px;
}

.sorrendi {
    font-style: italic;
}

img {
    display: block;
    margin: auto;
}