body {
}

html, body {
    height: 100%;
}

div {}
#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
    margin: 10px;
    border: 1px black
}

#középső {
    margin: 10px;
    border: 5px black;
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

#válaszok {
    margin: 10px;
    border: 1px cornflowerblue;
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    margin: 10px;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink:0;
    flex-shrink: 0;
}

.gomb {
    padding: 20px;
    width: 80px;
}

.kerdes {
}

.kattintható:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer
}
.jo {
    background-color: forestgreen;
    color: white;
    cursor: pointer
}
.rossz {
    background-color: indianred;
    color: white;
    cursor: pointer
}